@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*
https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png
*/

html{
  scroll-behavior: smooth;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgb(225, 247, 247);
}

/* Reusable css */

a {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  padding: 4px 2px;
  color: #ffffff;
  text-decoration: none;
}

/* a:hover {
  text-decoration: underline;
} */

button {
  border: none;
}

ul , li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.border-white {
  padding: 5px;
  border: 1.5px solid transparent;
}
.border-white:hover {
  border: 1.5px solid #fff;
}

i {
  font-style: normal;
  margin: 0;
}
h1,
h2,
h3 {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #232f3d;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

.copy-right_txt {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.container {
  width: 97%;
  margin: auto;
}

.small-txt {
  font-size: 11px;
  color: #ccc;
  padding: 0;
  margin: 0;
}

/* Header Styles */

.header {
  align-items: center;
  width: 100%;
  height: auto;
  max-height: 100%;
  background-color: rgb(19, 25, 33);
}

.header .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 60px;
  margin: auto;
  color: white;
}

.top-bar .nav-left {
  display: flex;
  align-items: center;
  padding: 0 20px 0 0;
}

.nav-left .nav-logo {
  display: flex;
  align-items: center;
  width: 120px;
  height: 50px;
}

.nav-logo img {
  object-fit: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-position-y: -40px;
  overflow: hidden;
}

.nav-left .nav-deliver {
  display: flex;
  align-items: center;
  margin-left: 14px;
}
.nav-left .nav-deliver div {
  margin: 0 4px 0 0;
}

.nav-left .nav-deliver i {
  margin-top: 14px;
}



.top-bar .nav-fill {
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;    
  border: 1px solid transparent;
  border-radius: 7px;
  overflow: hidden;
  /* height: 40px; */
}
.nav-fill:hover {
  border: 1px solid rgb(235,160,94);
  border-radius: 7px;
  overflow: hidden;
}

.top-bar .search-left {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: rgb(230, 227, 227);
  padding: 4px 12px;
}

.top-bar .search-left p , i {
  color: #111;
}


.search-left i {
  padding-left: 16px;
}

.nav-fill .search-fill {
  display: flex;
  width: 100%;
  height: 40px;
}


.nav-fill .search-fill input{
  width: 100%;
  border: none;
  outline: none;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 400;
  color: #524f4f;
  line-height: 20px;
}

.nav-fill .search-right {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: rgb(235,160,94);
  padding: 4px 14px;
}



.nav-fill .search-right {
  /* border-radius:  0 3px 3px 0; */
  align-items: center;
  padding: 10px 14px 10px 14px;
  cursor: pointer;
  background-color: rgb(235, 160, 94);
  color: black;
  overflow: hidden;
}

.sub-menu {
  padding: 12px 24px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 50px;
  left: -150px;
  width: 100%;
  /* height: 420px; */
  background-color: #ffffff;
  color: #111;
  z-index: 1000;
}
.sub-menu .lang{
  
}
.sub-menu .signup{

}

.sub-menu h2 {
  font-size: 16px;
}
.sub-menu a {
  color: #11181f;
}
.sub-menu a:hover {
  text-decoration: 1px solid #11181f underline;
}

.sub-menu_bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 14px 20px;
  margin-top: 17px;
}

.btn-cta:hover .sub-menu.signup{
  display: flex;
}
.btn-cta:hover .sub-menu.lang{
  display: flex;
}



.top-bar .nav-right {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 0 4px;
}

.nav-right .nav-lang {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 16px;
}
.nav-right .nav-lang a {
  display: flex;
  align-items: center;
  font-style: normal !important;
  font-weight: 400;
}
.nav-right .nav-lang .flag {
  font-style: normal !important;
  margin-right: 8px;
  /* font-weight: 400; */
}
.nav-right .nav-lang .english {
  display: flex;
  gap: 4px;
  margin-left: 4px;
  align-items: center;
}

.acc-list {
  display: flex;
  gap: 4px;
}
.nav-right .btn-cta {
  margin-inline: 10px;
  margin-block: auto;
}

.nav-right .return {
  margin-right: 4px;
  padding: 6px 16px;
}
.nav-right .btn-cart {
  display: flex;
  gap: 4px;
  margin-right: 4px;
  padding: 14px 16px;
}
.btn-cart i {
  color: #ffffff;
}

/* Navigation bar */

.fa-caret-down {
  color: lightgray;
}
.nav-bar {
  width: full;
  display: flex;
  align-items: center;
  padding-inline: 25px;
  background-color: rgb(35, 47, 61);
  color: #fff;
  height: 37px;
}

.nav-bar .menu-all {
  display: flex;
  align-items: center;
  padding: 4px 2px;
}

#show-menu {
  color: #ffffff;
margin-left: 4px;
}

.menu-all .menubar {
  font-size: 14px;
  padding: 4px 2px;
}
.menu-all i {

  color: #ffffff;
}

.nav-bar ul {
  display: flex;
  align-items: center;
  margin: 4px 0px 4px 0px;
}
.nav-bar ul li {
  font-size: 12px;
  padding-inline: 12px;
  padding-block: 4px;
}
.nav-bar ul:first-child {
  padding-left: 0;
}


    /* SIDE-BAR NAV */
.mobile-menu {
  width: 100%;
  height: 100vh;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.mobile-menu_container {
  position: relative;
  width: 35%;
  height: 100%;
  background-color: #fff;
  overflow: overlay;
}
.menu-hello {
  display: flex;
  width: 100%;
  height: 35px;
  gap: 12px;
  background-color: rgb(35,47,62);
  padding: 16px;
  color: #fff;
}
.menu-profile {
  width: 36px;
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 100%;
  overflow: hidden;
  padding: 2px;
}
.menu-hello h2 {
  color: #fff;
}

.menu {
  padding: 24px;
}
.mobile-menu a {
  color: rgb(35,47,62);
}
.mobile-menu a:hover {
  text-decoration: rgb(35,47,62) underline;
}

/* Mainbody - Banner */
.banner-container {
  position: relative;
}
.banner-image_container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.banner-image_container .image-item {
  min-width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Btn Slider */

  /*  */

.btn-slider_left {
  position: absolute;
  top: 97px;
  left: 2px;
  transform: translateY(-50%);
}
.btn-slider_right {
  position: absolute;
  top: 2px;
  right: 2px;
  transform: translateY(-50%);
  transform: rotate(180deg);
}

.span-container {
  position: relative;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.btn {
  background-color: #111;
  padding: 1px 12px;
  margin-bottom: 8px;
}

.btn:first-child {
  transform: rotate(-45deg);
}
.btn:last-child {
  transform: rotate(45deg);
}
.span-container:active {
  border: 1px solid #ccc;
  box-shadow: -2px -2px 2px rgb(230, 227, 227),
  2px 2px 2px white;
  border-radius: 3px;
  overflow: hidden;
}

/* --Products-- */

.products-grid {
  position: relative;
  margin-top: -65vh;
  width: 100%;
  z-index: 10;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 16px;
  max-width: 97%;
  margin: auto;
  padding: 18px 2px;
}

.product-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 313px;
  background-color: #fff;
  padding:  20px 20px 40px 20px;
}

.no-names {
  width: 150px !important;
  height: 140px !important;
}



.product-container .item-detail {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  gap: 30px 16px;
  flex: 1;
  width: 100%;
  margin-block: 4px;
  padding-block: 16px;
}

.product-container .small-gap {
  gap: 2px !important;
}

.row-span {
  gap: 40px 4px !important;
}



/* make col-span = 2 */
.full-span_product {
  grid-column: 1 / span 3;
  width: 100% !important;
  height: 150px !important;
}

.prime-container {
  height: 100%;
}

.join-prime_span {
  width: 100%;
  height: 94%;
}

.small-span_product {
  width: 90px !important;
  height: 84px !important;
}

.product-container .product-image_container {
  width: 130px;
  height: 120px;
}

.product-image_container .sub-title {
  font-size: 11px;
  font-weight: 500;
}

.product-container .link-light {
  position: absolute;
  bottom: 2px;
  left: 20px;
  margin: 4px 0;
  padding: 4px 0;
  color: rgb(25, 105, 105);
  font-weight: 400;
}
.product-container .link-light:hover {
  text-decoration: underline;
}

/* TODAY'S DEALS */

.today-deal .deals-image {
  width: 280px;
  height: 180px;
}

.today-deal .deals-title {
  display: flex;
  align-items: center;
}
.today-deal .off-deals {
  display: flex;
}

    /* MAIN PRODUCTS */

.main-products {
  position: relative;
  width: 100%;
  height: 260px;
  background-color: white;
  padding: 14px 18px;
  margin: 18px 0;
}
.main-products .main-image_items {
  display: flex;
  width: 100%;
  height: 87%;
  gap: 12px;
  overflow-x: hidden;
}

.main-image_items:hover {
  overflow-x: auto;
  transition: 3000s ease-in;
}

/* .main-products .small-slide_btn {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
} */
.main-products:hover .right_btn, .left_btn {
  display: block;
}
.main-products:hover .left_btn {
  display: block;
}


.left_btn {
  display: none;
  position: absolute;
  top: 50%;
left: 18px;
    transform: translateY(-50%);
    border: 1px solid #ccc;
    border-right: 0;
    border-radius: 0 5px 5px 0;
    padding: 30px 15px;
  cursor: pointer;
transition: 1000s ease-out;

}




.right_btn {
  display: none; 
  position: absolute;
  top: 50%;
right: 18px;
    transform: translateY(-50%);
    border: 1px solid #ccc;
    border-left: 0;
    border-radius: 5px 0 0 5px;
    padding: 30px 15px;
  cursor: pointer;

}

.main-products_title {
  display: flex;
  align-items: center;
}
.main-products_title h3 {
  margin-right: 14px;
}

    /* MAIN-IMG_ITEM => CIRCLE */

.main-img_item .circle {
  width: 180px;
  height: 180px;
  background-color: #f3f3f3;
  border-radius: 100%;
  overflow: hidden;
}
.main-img_item {
  width: 180px;
  height: 180px;
  background-color: #f3f3f3;
  /* border-radius: 100%; */
  overflow: hidden;
}

.sign-section {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: white;
}

.home-signin {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign-btn_cta {
  padding: 6px 90px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background: linear-gradient(to top, #dd9a03, #f5dc97);
  color: black;
  color: #111;
  font-size: 12px;
  font-weight: 500;
  margin-top: 12px;
}

.home-signin .signup-sect {
  display: flex;
  align-items: center;
}

.signup-sect p, a {
  font-size: 12px;
  margin-right: 4px;
}



    /* FOOTER */

section .footer {
  position: relative;
  width: 100%;
  height: auto;
}

.footer h3 {
  font-size: 14px;
  color: white;
}

button {
  border: none;
  padding: 0;
  background-color: inherit;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;

}
.footer button {
  background-color: inherit;
  color: #fff;
}

.footer .footer-top,
.footer-bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.footer-top {
  background-color: #232f3d;
}

.footer-top .back-to_top {
  width: 100%;
  color: #ffffff;
  padding: 10px 24px;
  text-align: center;
  background-color: #445469;
}

.footer-top .footer-top_articles {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 126px;
  color: #ffffff;
  margin-top: 24px;
  padding: 20px 14px;
}

.footer ul {
  margin: 0;
  padding: 0;
  line-height: 26px;
  margin-top: 10px;
}

.footer-top .choose-country_container {
  display: flex;
  align-items: center;
  align-items: center;
  margin-bottom: 18px;
}

.choose-country {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 3px 12px;
  margin-right: 12px;
}
.choose-country i {
  color: #ffffff;
}

.img-usa {
  width: 24px !important;
}

.footer-top_logo {
  width: 80px;
  height: 50px;
  margin-right: 80px;
}

.choose-country a {
  margin-inline: 8px;
  padding-inline: 4px;
  color: white;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: #4f4653;
  margin: 30px 0px 20px 0px;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 14px 0;
  background-color: #11181f;
  text-align: center;
}
.footer-bottom .footer-bottom_container {
  width: 1030px;
  max-width: 1030px;
  color: #ffffff;
  margin: 18px 0 6px;
  padding: 3px 14px;
  text-align: left;
}

.footer-bottom .btm-articles_container {
  display: grid;
  grid-template-columns: repeat(7, max-content);
  gap: 60px;
  width: 100%;
  /* height: max-content; */
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: 700;
}

.btm-articles_container article {
  width: 90px;
  height: 100%;
}
.footer li:hover, li > button:hover, .btm-articles_container > article:hover {
  text-decoration: solid #ccc underline;
  cursor: pointer;
}

/* FOTTER-BOTTOM */

.btm-articles_container article p {
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;
  color: #ccc;
}


.conditions-container .condition-items ul {
  display: flex;
  align-items: center;
  gap: 12px;
}



/* SIGIN & SIGNUP PAGE */

/* SIGIN-PAGE */
.signin-page {
  position: relative;
  width: 100%;
  height: 135vh;
  background-color: #ffffff;
  color: #111;
}

.wrapper-signin {
  position: absolute;
  left: 50%;
  top: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  width: 360px;
  height: auto;
}

.wrapper-signin .logo-sign {
  margin-top: 10px;
  margin-bottom: 8px;
  padding: 4px;
  width: 125px;
  height: 50px;
}


.signin-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 100%; */
  padding: 18px 29px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

form .sign-title{
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
  margin-block: 14px;
}

form label {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
}

form input {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #5a6572;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  padding: 4px 12px;
  margin-block: 4px;
}

/* form #email::placeholder {
  color: #232f3d;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  padding: 8px 4px;
} */

.signin-form .agree-container {
  margin-block: 20px;
  font-size: 12px;
  font-weight: 400;

}
.signin-form a {
  /* font-size: 12px; */
  font-weight: 400;
  color: #4181d6;
}
.agree-container a {
  text-decoration: underline;
}

.signin-form .need-help {
  display: flex;
  align-items: center;
}

.signin-form .for-work h3 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 2px;
}

.signin-form .create-acc {
  text-align: center;
  margin: 16px 0;
}

.white-sign_btn {
  padding: 6px 90px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
  background: #ffffff;
  color: #111;
  font-size: 12px;
  font-weight: 500;
  margin-top: 12px;
}

.hr-sign-line {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 30px 0px 20px 0px;
}

/*  Small line  */

.hr-sign_line {
  width: 33%;
  height: 1px;
  background-color: #ccc;
  margin: 30px 0px 30px 0px;
}
                  /* task for tomorrow */
/* .shadow {
  box-shadow: ;
} */

.sign-conditions {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
}
.sign-conditions .condition-items ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 8px;
  margin: 0
}
.condition-items ul button {
  padding: 4px 18px;
  background-color: white;
  color: rgb(38, 98, 133);
}

.have-acc {
  display: flex;
  align-items: center;
  gap: 10px;
}

.create-acc .new-acc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}
.new-acc .new-to_txt {
  /* font-weight: 400; */
  padding: 0px 4px
}


