<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="nav.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="top-bar">
      <div class="nav-left">
        <a href="/" class="nav-logo">
          <img src="/amazon.png" alt="Amazon" />
        </a>
        <a href="/" class="nav-deliver border-white">
          <div>
            <span class="small-txt">Deliver to</span>
            <p>Ethiopia</p>
          </div>
          <i class="downarrow-icon">4</i>
        </a>
      </div>

      <div class="nav-fill">
        <div class="search-left">
          <p>All</p>
          <i class="downarrow-icon">4</i>
        </div>
        <div class="search-fill">
          <input type="text" placeholder="Search Amazon" />
        </div>
        <div class="search-right">
          <i class="search-icon">4</i>
        </div>
      </div>

      <div class="nav-right">
        <div class="nav-lang border-white">
          <a>
            <i class="country-flag-icon flag">EN</i>
            <p>EN</p>
            <i class="dropdown-arrow">1</i>
          </a>
        </div>

        <div class="btn-cta border-white">
          <span class="small-txt">Hello, sigin</span>
          <p>Account &amp; Lists</p>
        </div>

        <div class="return border-white">
          <span class="small-txt">Returns</span>
          <p>&amp; Orders</p>
        </div>

        <div class="btn-cart border-white">
          <i class="addToCart"></i>
          <p>Cart</p>
        </div>
      </div>
    </div>
  </body>
</html>
